<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.sober_philer.studyui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".day4_recyclerview_itemdecoration.Day4ActivityRecyclerViewDivider">
        </activity>
        <activity android:name=".day5_recyclerview_headerfooter.ActivityDay5">
        </activity>
        <activity android:name=".day6_recyclerview_animation.ActivityDay6RecyclerViewAnimation">
        </activity>
        <activity android:name=".day7_drawerlayout.Day7_activity"/>
        <activity android:name=".day7_drawerlayout.GoogleDrawerActivity"/>
        <activity android:name=".day8_snackbar.Day8SnackbarActivity"/>
        <activity android:name=".day9_textinputlayout.Day9_textinputlayout"/>
        <activity android:name=".day10_toolbar.Day10_toolbarActivity"/>
        <activity android:name=".day11_palette.Day11ActivityPalette"/>
        <activity android:name=".day11_palette.Day11ActivityGridPalette"/>
        <activity android:name=".day12_tablayout.Day12ActivityTablayout"/>
        <activity android:name=".day13_trans_h.Day13ActivityTrans"/>
        <activity android:name=".day14_trans_navigationbar.Day14Activity"/>
        <activity android:name=".day15_cardview_floatingactionbar.Day15Activity"/>
        <activity android:name=".day16_fab_hide_show.Day16_fabhideshow"/>
        <activity android:name=".day18_coordinatorlayout.activityapageone.ActivityDay18PageOne"/>
        <activity android:name=".day18_coordinatorlayout.activitybpagetow.ActivityPageTow"/>
        <activity android:name=".day19_behavior.ActivityDay19"/>
    </application>

</manifest>